@model PhotoStore.Models.RegisterModel
@{
    ViewBag.Title = "Изменение пароля";
    Layout = "~/Views/Shared/_LayoutExtended.cshtml";
    ViewBag.Robots = "nofollow, noindex";   
}
  <div class="page wrapper">
    <div class="auth-form">
        <section id="loginForm">
            <h2>Изменение пароля</h2>
            @using (Html.BeginForm()) {
                <fieldset>
                    <legend>Форма изменения пароля</legend>
                       @Html.HiddenFor(model => model.UserID)
                               @Html.HiddenFor(model => model.IsActivated)
                               @Html.HiddenFor(model => model.Login)
                               @Html.HiddenFor(model => model.Email)
                               @Html.HiddenFor(model => model.PasswordSalt)

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                
                
                    <table>
                        <tr>
                            <td>@Html.Label("Введите существующий пароль")</td>
                            <td>@Html.PasswordFor(m => m.OldPassword)</td>
                            <td>@Html.ValidationMessageFor(m => m.OldPassword)</td>
                        </tr>       
                        
                        <tr>
                            <td>@Html.Label("Введите новый пароль")</td>
                            <td>@Html.PasswordFor(m => m.Password)</td>
                            <td>@Html.ValidationMessageFor(m => m.Password)</td>
                        </tr>  
                          <tr>
                            <td>@Html.Label("Повторите введенный пароль")</td>
                            <td>@Html.PasswordFor(m => m.ConfirmPassword)</td>
                            <td>@Html.ValidationMessageFor(m => m.ConfirmPassword)</td>
                          </tr>  
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Изменить" /></td>
                            <td></td>
                        </tr>            
                    </table>
                </fieldset>
            }
        </section>
        
    </div>

</div>
  
  
  
  
  
  
