@model Domain.Entities.User
@{
    ViewBag.Title = "Выполнить вход";
    Layout = "~/Views/Shared/_LayoutExtended.cshtml";

}



<div class="page wrapper">
    <div class="auth-form">
        <section id="loginForm">
            <h2>Восстановление пароля.</h2>
            @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
                <fieldset>
                    <legend>Форма восстановления пароля</legend>

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                
                
                    <table>
                        <tr>
                            <td> @Html.LabelFor(m => m.Email)</td>
                            <td>@Html.TextBoxFor(m => m.Email)</td>
                            <td>@Html.ValidationMessageFor(m => m.Email)</td>
                        </tr>       
                        
                    
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Отправить" /></td>
                            <td></td>
                        </tr>            
                    </table>
                </fieldset>
            }
        </section>
        
    </div>

</div>